[submodule "SoftEtherVPN"]
	path = SoftEtherVPN
	url = https://github.com/SoftEtherVPN/SoftEtherVPN_Stable.git
	branch = master
[submodule "deps/taptun"]
	path = deps/taptun
	url = https://github.com/SoftEtherUnofficial/ZigTapTun.git
	branch = master
